<div id="<%= dom_id pedido %>">

<tr>
<th scope="row"><%= pedido.id %></th>
<td><%= pedido.producto %></td>
<td><%= pedido.cliente_id %></td>
<td><%= link_to "Ver pedido", pedido %></td>

</tr>
</div>
